<!--<section class="hero">-->
<!--  <div class="hero-body">-->
<!--    <div class="container has-text-centered">-->
<!--      <h1 class="title">-->
<!--        Book List-->
<!--      </h1>-->
<!--      <h2 class="subtitle">-->
<!--        A list of all of the added books - for testing purposes-->
<!--      </h2>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!--<section class="section">-->
<!--  <div class="book-grid">-->

<!--  </div>-->
<!--</section>-->